/* Global */
*{
	margin:0;
	padding: 0;
}

html{
	height:100%;
}

body{
	height:100%;
}

/* ---------------------- Les Fonts ----------------------   */
@font-face{
	font-family: "Dosis-Regular";
	src: url("../fonts/Dosis/Dosis-Regular.ttf")
}

@font-face{
	font-family: "Raleway-Regular";
	src: url("../fonts/Raleway/Raleway-Regular.ttf")
}

@font-face{
	font-family: "Raleway-Bold";
	src: url("../fonts/Raleway/Raleway-Bold.ttf")
}



/* ---------------------- Le contenu de la page index----------------------  */
#index_body{
	width:100%;
	margin:auto;
	padding-top:10px;
	background-color:#F1FAEE;
	font-family: "Raleway-Regular";
	transition: all 1s ease;
	opacity: 0;
}

header{
	width:100%;
	height:100px;
	display:block;
	margin:auto;
	color:#8bb372;
	background-color: black;
}

header h3{
	width:130px;
	margin:auto;
	padding-bottom:15px;
}

h1,h2, h3{
	font-family: "Raleway-Regular";
}

/* ---------------------- Login ----------------------  */
h1{
	text-align: center;
	padding:10px 0 20px 0;
	
}

#index_content{
	width:100%;
	height:665px;
	margin:auto;
	padding-top:50px;
}

#login_zone{
	color:black;
	text-align: center;
	width:30%;
	height:425px;
	float:right;
	border:2px solid black;
	background-color:white;
	margin-right: 5%;
	padding:10px;
	margin-left:3%;
}

#ligne1 h2{
	padding-right: 53px;
	display:inline;
}

#ligne2 h2{
	padding-right: 10px;
	display:inline;
}

input[type=text], input[type=password] {
	width:200px;
    height:20px;
    border:2px solid #8bb372; 
    -webkit-border-radius: 5px;
	border-radius: 5px;
	font-family:"Raleway-Regular";
}

#btn_submit, #btn_register{
	height:30px;
	width:150px;
	margin:30px 0 5px 18%;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	font-family:"Raleway-Regular";
	font-size:1em;
	background-color:#F1FAEE;
}

#btn_register{
	margin:10px 0 0 0;
}

#zone_boutons_index{
	display:block;
	float:left;
	width:150px;
	margin:15px 31%;
}

#ligne1, #ligne2{
	font-size:0.7em;
	margin:60px 0 0 20%;
	float:left;
}

#ligne2{
	margin:20px 0 0 20%;
}

.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#popup_contenu {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

/* ---------------------- Message d'accueil ----------------------  */
#index_message{
	width:50%;
	height:425px;
	padding:10px;
	border:2px solid black;
	text-align: justify;
	float:left;
	margin-left:5%;
	margin-bottom:30px;
	background-color:white;
	position: relative;
}

#img_wizz{
	width: 150px;
	height:150px;
	margin:20px 50px;
	display:block;
	position:absolute;
	top:50%;
	left:70%;
}

/* Pour faire l'effet wizz */
#img_wizz:hover {
    animation: shake 0.5s; 
    /* Le nombre de fois que l'on recommence*/
    animation-iteration-count: infinite; 
}

p{
	margin-bottom:20px;
}

li{
	margin-left:20px;
}

ul{
	margin-bottom:10px;
}

/* ----------------------  Le footer ----------------------  */


footer{
	width:100%;
	height:100px;
	text-align:center;
	margin-top:35px;
	color:black;
	background-color: black;
	color:#8bb372;
	line-height: 100px;
	font-family: "Raleway-Regular";
}




@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
} 

#mess_mobile{
	display: none;
}

/* -------------------- Fin de la page index ------------------------ */

/* Pour la page register */

#register_zone{
	color:black;
	text-align: center;
	width:600px;
	height:465px;
	float:left;
	border:2px solid black;
	background-color:white;
	margin-right: 6%;
	padding:10px;
	margin:5% 34%;
}

.lignes_register{
	margin:30px 0px;
}

.lignes_register h2{
	display:inline;
}


#register_zone input[type=text],#register_zone input[type=password] {
	width:300px;
    height:20px;
    border:2px solid #8bb372; 
    -webkit-border-radius: 5px;
	border-radius: 5px;
	font-family:"Raleway-Regular";
	margin:10px 40px;
	float:right;
}

#btn_confirmRegister{
	height:30px;
	width:150px;
	margin:25px auto 5px auto;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	font-family:"Raleway-Regular";
	font-size:1em;
	background-color:#F1FAEE;
}

#register_logout{
	width:300px;
	height:30px;
	margin:0px auto 5px 42.5%;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	font-family:"Raleway-Regular";
	font-size:1em;
	background-color:#F1FAEE;
}

/* Fin de la page register */

/* -------------------- Pour la page main --------------------------- */

#main_body{
	width:100%;
	height:100%;
	margin:auto;
	font-family: "Raleway-Regular";
	background-color:white;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 10% 90%;
	overflow:hidden;
}



#zone_browsing{
	height:100%;
	float:left;
	background-color:rgba(255,255,255,0.5);
	border-right: 1px solid #ccc;
	grid-column: 1/2;
	grid-row:1/3;
}

#zone_selectedConvo{
	height:100%;
	float:left;
	grid-column: 2/3;
	grid-row:1/3;
}

#main_header{
	width:100%;
	height:8%;
	margin:auto;
	color:#8bb372;
	font-size:24px;
	line-height:25px;
	background-color:rgba(255,255,255,0.5);
	border-bottom: 1px solid #ccc;
}

#zone_recherche{
	position: relative;
	width:100%;
	height: 8%;
	background-color:rgba(255,255,255,0.5);
}

.topnav {
    overflow: hidden;
}

#searchBar{
	width:80%;
	height:40px;
	margin:4% 8%;
}

#icon_search{
	position: absolute;
	width:25px;
	height:25px;
	top:25px;
}

/* Pour gérer l'affichage des tabs, inspiré de: https://www.w3schools.com/howto/howto_js_tabs.asp*/
#titles_tab_titles {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#titles_tab_titles button {
	background-color: inherit;
	width:50%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
	transition: 0.3s;
	font-family:"Raleway-Regular";
	width: 
}

#titles_tab_titles button:hover {
    background-color: #ddd;
}

#titles_tab_titles button.active {
    background-color: #ccc;
}

#zone_convos, #zone_contacts{
    display: none;
    padding: 4px 12px;
    border-bottom: 1px solid #ccc;
	border-top: none;
	height:78%;
	overflow:scroll; 
	overflow-x: hidden;
	overflow-y: hidden;
}

#zone_contacts{
    padding: 6px 12px;
}
/* Fin pour les tabs */

#selectedConvo_title{
	width:100%;
	height:8%;
	line-height: 73px;
	background-color:#8bb372;
	padding: 0px 14px 0px 15px;
	color:white;
	border-bottom: 1px solid #ccc;
}

#selectedConvo_messages{
	width:100%;
	height:83.5%;
	background-color:white;
	overflow:scroll; 
	overflow-x: hidden;
}

#selectedConvo_writeSend{
	width:100%;
	height:6.5%;
	display:none;
}

/* Gere l'affichage d'une conversation dans la liste */
.conversationInList{
	float:left;
	width:100%;
	height:50px;
	margin:2px 0px;
	z-index: 1;
	cursor:pointer;
}

.conversationInList:hover{
	background-color:#d3d3d3;
}

.convoAvatar{
	float:left;
	display:block;
	width:15%;
	height:100%;
	border-radius: 50%;
}

.conversationsInList_texte, .conversationsInList_texte2{
	float:left;
	width:64%;
	padding-top:5px;
	padding-left:5px;
	margin-left:5px;
}

.conversationsInList_texte2{
	float:left;
	width:100%;
	margin-left:5px;
}

.conversationInList p{
	margin-bottom: 5px;
}

/* Fin de l'affichage d'une conversation dans la liste */

/* Gere l'affichage d'un contact dans la liste */
.contactInList{
	float:left;
	width:100%;
	height:50px;
	margin:2px 0px;
	z-index: 1;
	line-height:50px;
}

.contactInList:hover{
	background-color:#d3d3d3;
	cursor:pointer;
}

.addRemoveContact{
	float:left;
	width:100%;
	height:50px;
	margin:2px 0px;
	z-index: 1;
	line-height:50px;
}

.contactAvatar, .contactImages, .contactImagesMess, .contactImagesWizz{
	float:left;
	display:block;
	width:15%;
	height:100%;
	border-radius: 50%;
}

.contactImages{
	margin-left:15px;
}

.contactImagesMess{
	width:10%;
	height:75%;
	margin-left:15px;
	margin-top:8px;
}

.contactImagesWizz{
	width:10%;
	height:75%;
	margin-left:15px;
	margin-top:7px;
}

#contact_addButton, #contact_removeButton{
	float:left;
	display:block;
	width:15%;
	height:100%;
	margin-left:55px;
	border-radius: 50%;
	background-color: #8bb372;
	cursor:pointer;
}

#contact_removeButton{
	margin-left:145px;
}

.contactInList p{
	float:left;
	width:40%;
	margin-bottom: 5px;
}

/* Fin de l'affichage d'un contact dans la liste */


.one_message{
	padding:10px 15px;
	margin:5px 5px;
	border-radius: 25px;
	width: max-content;
	word-wrap: break-word;
	justify-content: flex-end;
}

.one_message p{
	margin:0;
}

.contact_line{
	width:45%;
	height:2px;
	background-color: #8bb372;
	margin:5px 0;
	float:left;
}

.vider{
	width:100%;
	clear:both;
}

.timestamp p{
	width:100%;
	margin:5px 0px;
	text-align:center;
}

#button_send, #button_wizz, #button_woush, #button_blur{
	position:relative;
	top:-50px;
	width:30px;
	height:30px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: transparent;
	outline: none;
	border:none;
}

#button_send{
	left:1380px;
	background-image:url("../images/ic_send_black.png");
}

#button_wizz{
	left:1360px;
	background-image:url("../images/ic_wizz.png");
}

#button_woush{
	left:1360px;
	background-image:url("../images/woush.png");
}

#button_blur{
	left:1290px;
	background-image:url("../images/blur.png");
}

#button_send:hover, #button_wizz:hover, #button_woush, #button_blur{
	cursor:pointer
}

#ic_info, #ic_settings{
	width:25px;
	height:25px;
	float:left; 
	margin:25px 20px 0px 630px;
}

#ic_settings{
	margin:25px 25px;
}

#ic_info:hover, #ic_settings:hover{
	cursor:pointer;
}

#selectedContactInfo{
	display: none;
}

#selectedContact_avatar{
	width: 25%;
	height:350px;
	margin:20px 37.5% 20px 37.5%;
	border-radius: 50%;
}

#selectedContact_phone, #selectedContact_email, #selectedContact_removeZone{
	width:300px;
	margin:40px auto 25px auto;
}

#selectedContact_email{
	margin:25px auto;
}

#selectedContact_removeZone{
	margin:25px auto;
}

#selectedContact_removeButton{
	cursor: pointer;
	height:50px;
	width:50px;
}
/* -------------------- Fin de la page main ------------------------ */


/* -------------------- Pour mobiles et tablettes ------------------------ */

@media only screen and (max-width: 480px){
	html{
		background-color:#F1FAEE;
	}
	body{
		width: 100%;
		height:100%;
	}
	main, #login{
		display:none;
	}

	header{
		display:block;
		font-size:3em;
		margin:0 20% 100px 22%;
		padding-top:100px;
	}

	#mess_mobile{
		display: block;
		text-align: center;
		font-size:2.5em;
		margin:30px auto;
	}

	footer{
		position:absolute;
		bottom:0%;
		font-size:2em;
		font-family: "Raleway-Regular";
	}
}

/* -------------------- Fin mobiles et tablettes ------------------------ */